<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}FairCount{% endblock %}</title>
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/styleComputer.css') }}" rel="stylesheet" media="screen and (min-width: 920px)">
    <link href="{{ asset('css/styleTablet.css') }}" rel="stylesheet" media="screen and (max-width: 919px) and (min-width : 480px)">
    <link href="{{ asset('css/styleSmartphone.css') }}" rel="stylesheet" media="screen and (max-width: 480px)">
    <link href="{{ asset('css/icons.css') }}" rel="stylesheet" media="screen">
    <script src="{{ asset('js/angular.min.js') }}"></script>
    <script src="{{ asset('js/app.js') }}"></script>
    {% block stylesheets %}{% endblock %}
  </head>
  <body ng-controller="FairCountsController">
    <nav>
      <div id="navContent">
        <div class="linkList">
          <div class="link"><span class="icon icon-single icon-white icon-40 home"></span><span class="linkTitle">Home</span></div>
          <div class="link"><span class="icon icon-single icon-white icon-40 group"></span><span class="linkTitle">Groups</span></div>
          <div class="link"><span class="icon icon-single icon-white icon-40 stats"></span><span class="linkTitle">Stats</span></div>
          <div class="link"><span class="icon icon-single icon-white icon-40 info"></span><span class="linkTitle">About us</span></div>
        </div>
        <div class="user"><span class="name">John Doe</span><span class="icon icon-white icon-20 down"></span></div>
        <div class="mobileNav"><span class="icon icon-white icon-40 menu"></span></div>
      </div>
    </nav>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
  </body>
</html>