{% extends '::base.html.twig' %}
{% block userMenu %}
  <div id="notLoggedMenu">
    <a href="{{ path("fos_user_registration_register") }}">Sign up</a> 
    <a href="{{ path("fos_user_security_login") }}">Sign in</a>
  </div>
{% endblock %}
{% block body %}
<div id="content">
    <div id="signInForm" class="basicForm signInUpForm clear">
        <div class="formSignInUp">
            <h1>Sign in</h1>
            {% if error %}
                <div id="errorBar">{{ error.message }}</div>
            {% endif %}
            <form action="{{ path('fos_user_security_check') }}" method="POST">
                <div class="inputField">
                    <div id="mailPreInput" class="preInput"><span class="icon icon-white icon-22 mail"></span></div>
                    <input type="email" id="mailInput" name="_username" placeholder="Email address" value="{{ last_username }}" required="required"/>
                </div>
                <div class="inputField">
                    <div id="passwordPreInput" class="preInput"><span class="icon icon-white icon-22 lock"></span></div>
                    <input type="password" id="passwordInput" name="_password" placeholder="Password" required="required"/>
                </div>
                <input type="submit" class="button" name="_submit" value="Sign in"/>
                <a href="{{ path('fos_user_resetting_request') }}">Password forgotten?</a>
            </form>
        </div>
        <div id="socialNetworks">
            <div id="facebookSignIn" class="button">
                <a href="#">
                    <span class="icon icon-white icon-40 facebook"></span>
                    <span class="buttonContent">Sign in with Facebook</span>
                </a>
            </div>
            <div id="googleSignIn" class="button">
                <a href="#">
                    <span class="icon icon-white icon-40 gplus"></span>
                    <span class="buttonContent">Sign in with Google</span>
                </a>
            </div>
            <div id="twitterSignIn" class="button">
                <a href="#">
                    <span class="icon icon-white icon-40 twitter"></span>
                    <span class="buttonContent">Sign in with Twitter</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}