{% extends '::base.html.twig' %}
{% block body %}
<div id="content">
  <div class="basicForm smallForm">
    <h1>Reset password</h1>
    {% if form_errors(form) %}
      <div id="errorBar">{{ form_errors(form) }}</div>
    {% endif %}
    <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST">
      {{ form_start(form) }}
      <div class="inputField">
        <div class="preInput"><span class="icon icon-white icon-22 lock"></span></div>
        {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Password'} }) }}
      </div>
      <div class="inputField">
        <div class="preInput"><span class="icon icon-white icon-22 lock"></span></div>
        {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Password Confirmation'} }) }}
      </div>
      {{ form_rest(form) }}
      <input type="submit" id="submit" name="_submit" class="button" value="Reset"/>
      {{ form_end(form) }}
    </form>
  </div>
</div>
{% endblock %}