{% extends '::base.html.twig' %}
{% block body %}
<div id="content">
  <div class="basicForm smallForm">
    <h1>Change password</h1>
    {% if form_errors(form) %}
    <div id="errorBar">{{ form_errors(form) }}</div>
    {% endif %}
    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" id="formLogin">
      <div class="inputField">
        <div class="preInput"><span class="icon icon-white icon-22 lock"></span></div>
        {{ form_widget(form.current_password, {'attr': {'placeholder': 'Current password'} }) }}
      </div>
      <div class="inputField">
        <div class="preInput"><span class="icon icon-white icon-22 lock"></span></div>
        {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'New password'} }) }}
      </div>
      <div class="inputField">
        <div class="preInput"><span class="icon icon-white icon-22 lock"></span></div>
        {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'New password confirmation'} }) }}
      </div>
      {{ form_rest(form) }}
      <input type="submit" id="submit" name="submit" class="button" value="Submit"/>
    </form>
  </div>
</div>
{% endblock %}