<!--
Creator: Theotime
Collaborators: Robert
Created on: 11/22/2013
Description: This code is used to display the group view (name, balance, participant, expenses)
-->
<div class="groupView" ng-controller="groupController">
  <div id="groupBalance" class="positive">+5.03$</div>
  <div id="groupName" ng-hide="showGroupNameInput" ng-click="changeGroupName()">
    <span id="editGroupNameIcon" class="icon icon-single icon-darkgrey icon-30 draw"></span>
    {{ group.name }}
  </div>
  <div id="groupNameEdit" ng-show="showGroupNameInput">
    <input id="groupNameInput" type="text" value="{{ group.name }}" ng-model="groupName"/>
    <button id="cancelGroupName" class="squareButton" ng-click="cancelGroupName()"><span class="icon icon-single icon-white icon-30 remove"></span></button>
    <button id="confirmGroupName" class="squareButton" ng-click="confirmGroupName()"><span class="icon icon-single icon-white icon-30 check"></span></button>
  </div>
  
  <div id="groupParticipants"> 
    <div id="participantsHeader">
      Participants
    </div>
    <div id="participantsList">
      <ul id="currentParticipants">
        <li ng-repeat="participant in participants"><span class="icon icon-single icon-18 remove {{ isInExpense(participant) }}" ng-click="refuseDeleteParticipant()"></span><span class="participantBalance {{ positiveBalance(participant) }}">{{ participant.balance }}$</span>{{ participant.name }}</li>
      </ul>
    <div id="newParticipantForm" ng-show="showAddParticipantInput">
        <div id="newParticipantInput">
          <input type="text" id="newParticipant" placeholder="Participant name / email address" ng-model="newParticipant"/>
          <button id="cancelNewParticipant" class="addParticipantButton" ng-click="cancelAddParticipant()"><span class="icon icon-single remove"></span></button>
          <button id="confirmNewParticipant" class="addParticipantButton" ng-click="confirmAddParticipant()">+</button>
        </div>
        <ul id="potentialParticipants">
          <li ng-repeat="user in potentialParticipants | filter:newParticipant" ng-click="addParticipantFromList(user)">{{ user.name }} ({{user.email}})</li>
        </ul>
      </div>
      <div id="addParticipant" ng-click="addParticipant()">+</div>
    </div>
            
  </div>
  
  <div id="groupExpenses">
    <div id="expenseHeader">
      Expenses
      <div class="squareButton editButtonHeader"><span class="icon icon-single icon-white icon-30 draw"></span></div>
      <a href="./app_dev.php#/addExpense"><div id="addButtonHeader" class="squareButton">+</div></a>
    </div>
    <div id="expensesList">
      <ul>
        <li ng-repeat="expense in expenses | orderBy:date">
          <span class="detailsExpense">
            <span class="expenseAmount {{ positiveExpenseBalance(expense) }}">{{ expense.balance }}$</span>
            <span class="expenseDate">{{ expense.date}}</span>
            <span class="icon icon-darkgrey icon-22 group"></span>{{ expense.participants.length }}
          </span>
          {{ expense.name }}
        </li>
      </ul>
    </div>
  </div>
</div>