<!--
Display the expenses linked to a group
-->
<div class="groupView" ng-controller="groupController">
  <div id="groupBalance" class="positive">+5.03$</div>
  <div id="groupName">John's Birthday</div>
  
  <div id="groupParticipants"> 
    <div id="participantsHeader">
      <div id="editButtonHeader"><span class="icon icon-single icon-white icon-30 draw"></span></div>
      
      Participants
    </div>
    <div id="participantsList">
      <ul>
        <li ng-repeat="participant in participants"><span class="participantBalance {{ positiveBalance(participant) }}">{{ participant.balance }}$</span>{{ participant.name }}</li>
      </ul>
      <div id="addParticipant">+</div>
    </div>
            
  </div>
  
  <div id="groupExpenses">
    <div id="expenseHeader">
      Expenses
      <div id="editButtonHeader"><span class="icon icon-single icon-white icon-30 draw"></span></div>
      <div id="addButtonHeader">+</div>
    </div>
    <div id="expensesList">
      <ul>
        <li ng-repeat="expense in expenses | orderBy:date">
          <span class="detailsExpense">
            <span class="expenseAmount {{ positiveExpenseBalance(expense) }}">{{ expense.balance }}$</span>
            <span class="expenseDate">{{ expense.date}}</span>
            <span class="icon icon-darkgrey icon-22 group"></span>{{ expense.participants.length }}
          </span>
          {{ expense.name }}
        </li>
      </ul>
    </div>
  </div>
</div>