<!--
Creator: Theotime
Collaborators: -
Created on: 11/18/2013
Description: This code is used to display the home page when someone is logged. It lists the groups the user is part of and show some statistics.
-->
<div id="content" ng-controller="mainController">
  <div id="totalBalance" class="positive"><span class="totBalance">+15.20$</span><span>Total balance</span></div>
  <div id="rightColumn">
    <div class="stats"></div>
  </div>
  <div id="leftColumn">
    <a href="./app_dev.php#/newGroup"><div id="newGroup"><span class="emphasize">+</span> New group</div></a>
    <div class="folder" ng-repeat="group in groups">
      <a href="./app_dev.php#/group">
        <div class="{{ positiveGroupBalance(group) }} folderBalance">
          <span class="folBalance">{{ group.balance }}$</span>
          <span class="folTitle">{{ group.name}}</span>
        </div>
      </a>
      <ul class="expenses" >
        <li ng-repeat="expense in group.expenses | limitTo:getLimit(group) "><span class="expBalance {{ positiveExpenseBalance(expense) }}">{{ expense.balance}}$</span>{{ expense.name }}</li>
        <li class="moreExpenses" ng-show="showButtonMoreExpenses(group)"><button ng-click="displayAllExpenses(group)">{{ undisplayedExpenses(group) }} more ...</button></li>
      </ul>
      <a href="./app_dev.php#/addExpense"><div class="addExpense"><span>Add an expense</span> <div class="plusExpense">+</div></div></a>
    </div>
  </div>
</div>