{% extends '::base.html.twig' %}
{% block userMenu %}
<div id="notLoggedMenu">
  <a href="{{ path("fos_user_registration_register") }}">Sign up</a> 
  <a href="{{ path("fos_user_security_login") }}">Sign in</a>
</div>
{% endblock %}
{% block body %}
<div id="content">
  <div id="signUpForm" class="basicForm signInUpForm clear">
    <div class="formSignInUp">
      <h1>Sign up</h1>
      <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">
        {{ form_start(form) }}
        {% if form_errors(form) %}
            <div id="errorBar">{{ form_errors(form) }}</div>
        {% endif %}
        <div class="inputField">
          <div class="preInput"><span class="icon icon-white icon-22 user"></span></div>
          {{ form_widget(form.name, {'attr': {'placeholder': 'Name'} }) }}
        </div>
        <div class="inputField">
          <div class="preInput"><span class="icon icon-white icon-22 mail"></span></div>
          {{ form_widget(form.email, {'attr': {'placeholder': 'Email address'} }) }}
        </div>
        <div class="inputField">
          <div class="preInput"><span class="icon icon-white icon-22 lock"></span></div>
          {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Password'} }) }}
        </div>
        <div class="inputField">
          <div class="preInput"><span class="icon icon-white icon-22 lock"></span></div>
          {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Password confirmation'} }) }}
        </div>
        <input type="submit" class="button" name="submit" value="Sign up"/>
        {{ form_end(form) }}
      </form>
    </div>
    <div id="socialNetworks">
      <div id="facebookSignIn" class="button">
        <a href="#">
          <span class="icon icon-white icon-40 facebook"></span>
          <span class="buttonContent">Sign up with Facebook</span>
        </a>
      </div>
      <div id="googleSignIn" class="button">
        <a href="#">
          <span class="icon icon-white icon-40 gplus"></span>
          <span class="buttonContent">Sign up with Google</span>
        </a>
      </div>
      <div id="twitterSignIn" class="button">
        <a href="#">
          <span class="icon icon-white icon-40 twitter"></span>
          <span class="buttonContent">Sign up with Twitter</span>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}